<%- include('partials/header'); -%>
<div class="container container-admin">
    <%- include('partials/adminmenu'); -%>
    <div class="purchases">
        <div class="header">
            <h3>Order List</h3>
            <div class="header-details">
                <h3 class="statuscapt">Status Pembayaran</h3>
                <h3>Hapus</h3>
            </div>
            
        </div>
        <div class="purchase-container">
            <% orders.map(order => { %>
                <div class="purchase-wrapper" data-purchaseid="<%= order._id %>">
                    <div class="purchase">
                        <div class="purchase-section">
                            <div>Order ID:</div>
                            <div><%= order._id %></div>
                        </div>
                        <div class="purchase-section">
                            <div>Atas Nama:</div>
                            <div> <%= order.receiver %></div>
                        </div>
                        <div class="purchase-section">
                            <div>Tanggal Pemesanan:</div>
                            <div> <%= order.date %></div>
                        </div>
                        <% order.item.map( cake => { %>
                            <div class="purchase-section">
                                <div><%= cake.itemname %> : <%= cake.quantity %></div>
                                <div><% cake.totalprice = new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(cake.totalprice) %> <%= cake.totalprice %> </div>
                            </div>
                        <% }) %>
                        <div class="purchase-section">
                            <div>Total : </div>
                            <div><% order.total = new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(order.total) %> <%= order.total %></div>
                        </div>
                        <div class="purchase-section">
                            <div>Status Pembayaran : </div>
                            <div class="paystatus"><%= order.status %></div>
                        </div>
                        <div class="purchase-section">
                            <div>Bukti Pembayaran:</div>
                        </div>
                        <% if(order.bukti.filename){ %>
                            <img src="data:<%= order.bukti.contentType %>;base64, <%= order.bukti.imgBase64 %>" alt="" class="buktiTf">
                            <% } %>
                    </div>
                    <div class="buttons">
                        <button class="statusButton <%= order.status == 'Sudah Dibayar' ? 'confirmed' : ''%>"></button>
                        <button class="deletepurchase"></button>
                    </div>
                    
                </div>
            <% }) %>
        </div>
        
        
    </div>
</div>
<script>
        const purchases = document.querySelectorAll('.purchase-wrapper')
    purchases.forEach(purchase => {
        const statusButton = purchase.querySelector('.statusButton')
        const deleteButton = purchase.querySelector('.deletepurchase')
        const purchaseid = purchase.dataset.purchaseid
        let paystatusEle = purchase.querySelector('.paystatus')
        statusButton.addEventListener('click', async function(){
            let paystatus = paystatusEle.innerHTML
                if(paystatus == 'Belum Dibayar'){
                    paystatus = 'Sudah Dibayar'
                    statusButton.classList.add('confirmed')
                }
                else{
                    paystatus = 'Belum Dibayar'
                    statusButton.classList.remove('confirmed')
                }
            
            // }
            
            console.log(paystatus)
            const res = await fetch('/admin/order/updateorder', {
                method: 'PUT',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({purchaseid, paystatus})
                
            })
            const data = await res.json()
            console.log(data)
            if(data.sukses){
                paystatusEle.innerHTML = paystatus
            }
            else{
                console.log('Request gagal')
            }
        })
        deleteButton.addEventListener('click', async function(){
            const res = await fetch('/admin/order/deleteorder', {
                method: 'DELETE',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({purchaseid})
            })
            const data = await res.json();
            console.log(data)
            window.location.reload();
        })
    });
</script>