<%- include('partials/header'); -%>
<div class="container checkout-container">
    <div class="info">
        <form class="">
            <label for="name">Nama Penerima</label>
            <input type="text" name="name" value="<%= user.fullname %>" class="nama" required>
            <h3 style="margin-top: 1rem;">Alamat Tujuan</h3>
            <label for="alamat">Detail Alamat <span style="font-size: small;">(Nama jalan, no.rumah dll)</span></label>
            <input type="text" name="alamat" value="<%= user.address.detail %>" class="alamat" required>
            <label for="kelurahan" >Kelurahan</label>
            <input type="text" name="kelurahan" value="<%= user.address.kelurahan %>" class="kelurahan" required>
            <label for="kecamatan">Kecamatan</label>
            <input type="text" name="kecamatan" value="<%= user.address.kecamatan %>" class="kecamatan" required>
            <label for="kota">Kota</label>
            <input type="text" name="kota" value="<%= user.address.city %>" class="kota" required>
            <button type="submit" class="submit">Confirm</button>
        </form>
        
    </div>
    <div class="payment">
        <div class="itemwrap">
        <% user.inventory.map(item => { %>
            <div class="item" data-id="<%= item._id %>">
                <img src="data:<%= item.image.contentType %>;base64, <%= item.image.imgBase64 %>" alt="">
                <div class="itemdetails">
                    <a href="/item/<%= item._id %>" class="itemname"><%= item.itemname %></a>
                    <div class="upper">
                        <div class="qty">Jumlah : <%= item.quantity %></div>
                        <div class="price"><% const price = new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(item.price) %> Harga: <%= price %></div>
                        <h4 class="stok error"></h4>
                    </div>
                </div>
                
            </div>  
            <% }) %>
        </div>
        <div class="total">
            <h3>Detail Belanja</h3>
            <p class="totalqty">Total Barang: <%= total.quantity %></p>
            <p class="totalprice"><% total.totalprice = new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(total.totalprice) %> Total Harga: <%= total.totalprice %></p>
            <button class="back">Back</button>
            <button class="cancel">Cancel</button>
            <button class="pay">Pay</button>
        </div>
        
    </div>
    
</div>


<script>
    const checkout = document.querySelector('.checkout-container')
    const confirm = document.querySelector('.submit')
    const back = document.querySelector('.back')
    const pay = document.querySelector('.pay')
    const cancel = document.querySelector('.cancel')

    const today = new Date()
    const date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear()
 
    confirm.addEventListener('click', function(e){
        e.preventDefault()
        checkout.classList.add('confirm')
    })
    back.addEventListener('click', function(){
        checkout.classList.remove('confirm')
    })
    cancel.addEventListener('click', function(){
        window.location.assign('/cart')
    })
    pay.addEventListener('click', async function(){
        const nama = document.querySelector('.nama').value
        const kota = document.querySelector('.kota').value
        const kecamatan = document.querySelector('.kecamatan').value
        const kelurahan = document.querySelector('.kelurahan').value
        const alamat = document.querySelector('.alamat').value
        console.log(nama)
        console.log(kecamatan)
        const res = await fetch('/cart/checkout', {
            method: 'DELETE',
            headers: {'Content-Type' : 'application/json'},
            body: JSON.stringify({date ,nama,kota,kecamatan, kelurahan, alamat})
        })
        const data = await res.json();
        cartPopup.classList.add('noitem')
        window.location.assign(`/purchase/${data.order}`)
    })
</script>